<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fish.alfred</string>
	<key>connections</key>
	<dict>
		<key>01F87EBF-46C7-4067-B13B-F7D57959D2E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>724367DB-4816-46E3-BAF8-D1E621F64B1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kongminhao</string>
	<key>description</key>
	<string>fish fish, fish is happy</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>fish</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>724367DB-4816-46E3-BAF8-D1E621F64B1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>fish</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>着个🔨急, 摸个🐟这么着急</string>
				<key>script</key>
				<string>if [[ -n "{query}" ]]; then
  /usr/bin/python ./fish.py {query}
else
  /usr/bin/python ./list_fish.py
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>想摸(⊙_⊙)? fish, fish.</string>
				<key>title</key>
				<string>fish fish, fish is happy</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>01F87EBF-46C7-4067-B13B-F7D57959D2E7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>摸鱼是快乐的，所以要简单的摸鱼</string>
	<key>uidata</key>
	<dict>
		<key>01F87EBF-46C7-4067-B13B-F7D57959D2E7</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>724367DB-4816-46E3-BAF8-D1E621F64B1A</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://printf520.com</string>
</dict>
</plist>
